.temperature{
	font-size: 30px;
	text-align: center;
}

.wettertext, .wettertext_tomorrow{
	font-size: 15px;
	text-align: center;
}

.tempMAX, .tempMAX_tomorrow, .text_week{
	font-size: 15px;
	text-align: center;
}

.license, .address{
	font-size: 10px;
	text-align: center;
}

.footer{
	font-size: 10px;
	text-align: center;
}

p{
	font-size: 15px;
	text-align: center;
}

canvas{
	height: 128px;
	width: 256px;
	display: block;
	margin: auto;
}