.temperature{
	font-size: 30px;
	text-align: center;
}

.wettertext{
	font-size: 15px;
	text-align: center;
}

.tempMAX{
	font-size: 15px;
	text-align: center;
}

.license{
	font-size: 10px;
	text-align: center;
}

.footer{
	font-size: 10px;
	text-align: center;
}

p{
	font-size: 15px;
	text-align: center;
}

canvas{
	height: 128px;
	width: 256px;
	display: block;
	margin: auto;
}